nav {
  display: flex;
  text-align: center;
  background-color: black;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.navbar {
  padding: 10px;
  background-color: bisque;
  width: auto;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.navbar:hover {
  background-color: goldenrod;
}

header {
  height: 75px;
  padding: 5px;
  margin: 0;
}

#name {
  justify-content: space-between;
  float: right;
  margin-left: 60%;
  color: aliceblue;
  font-size: 30px;
}

html {
  background-color: skyblue;
}

body {
  background-color: deepskyblue;
  max-width: 60%;
  margin: 0 auto;
}

#homePic {
  height: 300px;
  width: 250px;
  float: right;
}

#homeimage {
  float: right;
  margin-left: 2vw;
}

h1 {
  margin-top: 0;
  font-weight: bolder;
  font-size: 40px;
}

main {
  font-size: 25px;
}

#quote {
  margin-top: 300px;
  text-align: center;
  font-size: 35px;
  font-family: cursive;
}

footer {
  background-color: black;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  height: 75px;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

footer .media-link {
  height: 50px;
  width: 40px;
}

.media-link {
  padding-right: 3vw;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px;
  border-style: double;
  margin: 1vw;
  padding: 1vw;
}

.aboutImage {
  height: 150px;
  width: 125px;
  float: right;
  margin: 1vw 1vw 0 1vw;
}

.abouth2 {
  text-align: center;
  width: 100%;
  text-decoration: underline;
}

p {
  margin-top: 0;
  text-align: justify;
}  

#abouth1 {
  text-align: center;
}

.portfolioimg {
  height: 60%;
  width: 50%;
  float: right;
  margin: 0 0 0 1vw;
  border-radius: 50%;
  text-align: center;
}

.portfolioh2 {
  text-align: center;
  text-decoration: underline;
  justify-content: center;
  width: 100%;
}

#portfolioh1 {
  width: auto;
  text-align: center;
  border-bottom: 3px solid blanchedalmond;
  margin: 2vw;
}